@import "main";


@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

html, body {
  height: 100%;
}
.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  .alert {
    --angle: 0deg;
    
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 0.75rem;
    flex-direction: column;
    
    padding: 1em;
    min-width: 500px;

    background-color: fade-out($darkBlue,  0.1);

    font-family: Syne, sans-serif;
    font-size: 1.5rem;
    color: $light;

    border-top: 8px solid;
    border-image-source: conic-gradient(from var(--angle), $green, $blue, $purple, $pink, $yellow, $orange, $yellow, $pink, $purple, $blue, $green);
    border-image-slice: 1;
    animation: 10s rotate linear infinite;
    
    box-shadow: $shadow;

    h2 {
      font-weight: normal;
      font-size: 1.4rem;
      margin: 0;
      padding: 0;

      span {
        color: $green;
      }
    }
    p {
      font-family: Inter, sans-serif;
      font-weight: normal;
      font-size: 1rem;
      margin: 0;
      padding: 0;
    }
  }
}
.wipe-left-enter {
  transform: translateX(450px);
  opacity: 0;
}
.wipe-left-enter-to {
  transform: translateY(0);
  opacity: 1;
}
.wipe-left-leave-to {
  transform: translateX(450px);
  opacity: 0;
}
