@import "main";


@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.bar {
  --angle: 0deg;
  
  display: flex;
  align-items: center;
  background-color: fade-out($darkBlue,  0.1);
  font-family: Syne, sans-serif;
  font-size: 1.5rem;
  color: $light;
  
	border-top: 8px solid;
  border-image-source: conic-gradient(from var(--angle), $green, $blue, $purple, $pink, $yellow, $orange, $yellow, $pink, $purple, $blue, $green);
  border-image-slice: 1;
  opacity: 1;
  animation: 10s rotate linear infinite;
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1.2rem;
    margin-right:1.5rem;
    width: 100%;
    
     .alert {
      opacity: 0;
      transition: 1s linear all;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      font-family: Inter, sans-serif;
      
      h2 {
        font-weight: normal;
        font-size: 1.4rem;
        margin: 0;
        padding: 0;
        
        span {
          font-weight: bold;
          background: $gradient;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      p {
        font-weight: normal;
        font-size: 1rem;
        margin: 0;
        padding: 0;
      }
    }
  }
}

.wipe-left-enter {
  transform: translateX(450px);
  opacity: 0;
}
.wipe-left-enter-to {
  transform: translateY(0);
  opacity: 1;
}
.wipe-left-leave-to {
  transform: translateX(450px);
  opacity: 0;
}
