@import "main";


@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.bar {
  --angle: 0deg;
  
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background-color: fade-out($darkBlue,  0.1);
  font-family: Syne, sans-serif;
  font-size: 1.5rem;
  color: $light;
  
	border-top: 5px solid;
  border-image-source: conic-gradient(from var(--angle), $green, $blue, $purple, $pink, $yellow, $orange, $yellow, $pink, $purple, $blue, $green);
  border-image-slice: 1;
  opacity: 1;
  animation: 10s rotate linear infinite;
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1.2rem;
    margin-right:1.5rem;
    width: 100%;
    
    svg {
      height: 1.2em;
      width: 1.2em;
      color: $light;
      fill: $light;
      margin-right: 1rem;
    }
    
    .left {
      display: flex;
      align-items: center;
      font-size: 2rem;
    }
    
    .right, .alert {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      font-family: Inter, sans-serif;

      .alert {
        transition: 1s linear all;

        &.hide {
          box-shadow: none;
          animation: fadeOut 1s forwards;
        }
      }
      
      h2 {
        font-weight: normal;
        font-size: 1.4rem;
        margin: 0;
        padding: 0;
        
        span {
          font-weight: bold;
          background: $gradient;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      p {
        font-weight: normal;
        font-size: 1rem;
        margin: 0;
        padding: 0;
      }
    }
  }
}

.fade-enter {
  opacity: 0;
}
.fade-enter-to {
  opacity: 1;
}
.fade-leave-to {
  opacity: 0;
}