@import "main";

.chat {
    
  --angle: 90deg;

  display: flex;
  flex-direction: column-reverse;
  height: 98vh;
  position: absolute;
  right: 2rem;
  width: 400px;

  .list-move {
    transition: transform .5s;
  }

  .message {
    width: 100%;
    margin-bottom: 25px;
    position: relative;
    display: flex;
    align-items: center;
    
    //box-shadow: $shadow;
    
    opacity: 0;
    transition: 1s linear all;
    animation: fade 1s forwards;

    &.hide {
      box-shadow: none;
      animation: hide 1s forwards;
    }

    .wrap {
      opacity: 1;
      animation: high 1s linear;

      .panel {
        display: flex;
        width: 400px;
        background-color: $darkBlueFade;
        
        border-top: 5px solid;
        border-image-source: conic-gradient(from var(--angle), $green, $blue, $purple, $pink, $yellow, $orange, $yellow, $pink, $purple, $blue, $green);
        border-image-slice: 1;
        animation: 10s rotate linear infinite;
        
        .bubble {
          padding: 1rem;
          
          word-wrap: break-word;
          white-space: pre-line;
  
          display: flex;
          flex-direction: column;
          
          font: $inter;
          font-size: 1.2em;
          color: $light;
  
          span {
            color: $green;
          }
          
          .name {
            font-family: $syne;
            font-size: .8em;
            font-weight: bold;
            margin-top: 10px;
            color: $orange;
           
          }
        }
    
        .user {
          width: 60px;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          background-position-y: bottom;
          background-color: $light;
        }    
      }
    }
    
    // &.mod .wrap .panel {
      
    //   .bubble {
    //   //  color: $yellow;

    //     span {
    //     //    color: $green;
    //     }
    //   }
    // }
 
    &.vip .wrap .panel {
      background-color: fade-out($light, 0.8);
      .bubble {
        color: $darkBlue;

        .name {
          
        }
      }
    }

    &.highlighted .wrap .panel {
      background-color: $darkBlue;
      border: 5px solid;
      border-right: 0px;
      border-image-source: conic-gradient(from var(--angle), $green, $blue, $purple, $pink, $yellow, $orange, $yellow, $pink, $purple, $blue, $green);
      border-image-slice: 1;
      animation: 10s rotate linear infinite;

      .bubble {
        color: $light;

        .name {
          background: $gradient;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      &:before {
        content: "";
        position: absolute;
        inset: -5px;
        transform: translate3d(0px, 0px, 0px); /* (X, Y, Z) */
        border: 8px solid;
        border-image-source: conic-gradient(from var(--angle), $green, $blue, $purple, $pink, $yellow, $orange, $yellow, $pink, $purple, $blue, $green);
        border-image-slice: 1;
        filter: blur(8px);
        animation: 10s rotate linear infinite;
      }
    }
  }
  
  &.fade .message:not(.highlighted) .wrap {
    opacity: .6;
    animation: low 1s forwards;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes low {
  0% {
    opacity: 1;
  }
  100% {
    opacity: .6;
  }
} 
@keyframes high {
  0% {
    opacity: .6;
  }
  100% {
    opacity: 1;
  }
} 

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}