@import "main";

.chat {
    
  --angle: 90deg;

  display: flex;
  flex-direction: column-reverse;
  height: 98vh;
  position: absolute;
  right: 0;
  width: 400px;

  .list-move {
    transition: transform .5s;
  }

  .message {
    width: 100%;
    margin-bottom: 25px;
    position: relative;
    display: flex;
    align-items: center;
    
    box-shadow: -0.5em 0.6em 1em -0.4em $darkblue;
    
    opacity: 0;
    transition: 1s linear all;
    animation: fade 1s forwards;

    &.hide {
      box-shadow: none;
      animation: fade 1s backwards;
    }

    .wrap {
      opacity: 1;
      animation: high 1s linear;

      .panel {
        display: flex;
        flex-direction: row-reverse;
        width: 400px;
        background-color: $darkblue;
        
        border-top: 5px solid;
        border-image-source: linear-gradient(var(--angle), #f0f 0%, cyan 100%);
        border-image-slice: 1;
        
        animation: 10s rotate linear infinite; 
        
        .bubble {
          padding: 15px;
          width: 340px;
          word-wrap: break-word;
          white-space: pre-line;
  
          display: flex;
          flex-direction: column;
          
          font-size: 1.2em;
          color: $white;
  
          span {
            color: $neonpink;
          }
          
          .name {
            font-family: 'Roboto';
            font-size: .8em;
            font-weight: bold;
            background: $gradient;
            background-clip: text;
            margin-top: 10px;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
    
        .user {
          width: 60px;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          background-position-y: bottom;
          background-color: $white;
        }    
      }
    }
    
    &.mod .wrap .panel {
      background-color: $lightgray;
      .bubble {
        color: $darkblue;
      }
    }
 
    &.vip .wrap .panel {
      background-color: $white;
      .bubble {
        color: $darkblue;
      }
    }

    &.highlighted .wrap .panel {
      background-color: black;
      border: 5px solid;
      border-right: 0px;
      border-image-source: linear-gradient(var(--angle), #f0f 0%, cyan 100%);
      border-image-slice: 1;

      .bubble {
        color: $white;
      }

      &:before {
        content: "";
        position: absolute;
        inset: -5px;
        transform: translate3d(0px, 0px, 0px); /* (X, Y, Z) */
        border: 8px solid;
        border-image-source: linear-gradient(var(--angle), #f0f 0%, cyan 100%); 
        border-image-slice: 1;
        filter: blur(8px);
        animation: 10s rotate linear infinite;
      }
    }
  }
  
  &.fade .message:not(.highlighted) .wrap {
    opacity: .6;
    animation: low 1s forwards;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes low {
  0% {
    opacity: 1;
  }
  100% {
    opacity: .6;
  }
} 
@keyframes high {
  0% {
    opacity: .6;
  }
  100% {
    opacity: 1;
  }
} 

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}